.navContainer{
    border-bottom: solid thin rgba(255, 255, 255, 0.141);
    /* box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.141); */
}
.navList{
   font-size: larger;
   color: white;
   padding-top: 1vh;
   padding-bottom: 2vh;
   margin-top: 1vh;
  list-style: none;
  display: inline-block;

}
.navList li{
    display: inline-block;
    padding-right: 2vw;
    padding-left: 2vw;
}
li:hover{
    text-underline-offset: 3px;
    text-decoration: underline .7px;
}
.homeLink:hover{
    transform-origin: 50% -50%;
    transform: rotateY(360deg);
    transition: 1s;
}