.aboutContainer{
    height: 900px;
    text-align: center;
    overflow-y: scroll;
}
.aboutContainer h1{
    /* font-size: 75px;
    margin-top: 40px;
    padding-bottom: 40px; */
    height: 200px;
    font-size: 75px;
    border-bottom: solid thin #d28ff9;
    padding-top: 40.5px;
    /* margin-bottom: 62.5px; */
    /* background-color: #fad3ff78; */
}
.flexContainer{
    display: flex;
    margin-top: 5vh;
    font-size: large;
}
.flexOne{
    display: flex;
    flex: 1 40%;
    flex-direction: column;
    line-height: 5vh;
    margin-right: 4vw;
    margin-left: 4vw;

}
.flexOne h2{
    padding-bottom: 2vh;
}
.flexTwo{
    display: flex;
    flex: 2 60%;
    flex-direction: column;
    list-style: none;
    display: inline-block;
}
.topicContainer{
    list-style: none;
    display: inline-block;
}