.heroContainer{
    text-align: center;
    font-size: 6em;
    margin-top: 2em;
    padding-bottom: 2.2em; 
    /* border-bottom: solid thin #ffffff24; */
    transition: all 3s ease-in-out;
    height: 80vh;
}

.heroContainer h1{
    margin-bottom: .2em;
}

.heroContainer.transition{
    opacity: 1;
}
